<div class="container-ekos-ativos">
	<h3 class="title-ekos-ativos">
		Conheça todos os ativos<br> de <strong>Natura Ekos</strong>
	</h3>
	<div class="ContentFlow" id="nego">
	    <div class="loadIndicator"><div class="indicator"></div></div>
	    <div class="flow">
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-acai" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/acai/" src="{{baseUrl}}/img/carrossel-ativos/card-acai.jpg"/>
    		</div>
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-andiroba" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/andiroba/" src="{{baseUrl}}/img/carrossel-ativos/card-andiroba.jpg"/>
    		</div>
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-buriti" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/buriti/" src="{{baseUrl}}/img/carrossel-ativos/card-buriti.jpg"/>
    		</div>
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-cacau" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/cacau/" src="{{baseUrl}}/img/carrossel-ativos/card-cacau.jpg"/>
    		</div>
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-castanha" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/castanha/" src="{{baseUrl}}/img/carrossel-ativos/card-castanha.jpg"/>
    		</div>
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-mate-verde" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/mate-verde/" src="{{baseUrl}}/img/carrossel-ativos/card-mateverde.jpg"/>
    		</div>
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-pitanga" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/pitanga/" src="{{baseUrl}}/img/carrossel-ativos/card-pitanga.jpg"/>
    		</div>
	    	<div class="item">
	    		<img class="blur-img" src="{{baseUrl}}/img/carrossel-ativos/card-blur.png"/>
	    		<img class="content tag-maracuja" target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/ativos/maracuja/" src="{{baseUrl}}/img/carrossel-ativos/card-maracuja.jpg"/>
    		</div>
	    </div>
	    <div class="preButton nav-arrow previous"></div>
	    <div class="nextButton nav-arrow next"></div>
	    <!-- <div class="globalCaption"></div> -->
	    <!-- <div class="scrollbar"><div class="slider"><div class="position"></div></div></div> -->
	</div>
</div>