<section id="novos-sabonetes" class="wrapper-main">

	<div class="novos-sabonetes-sub">
		<h3 class="title-sabonetes">
			Agora, com mais três maneiras <br>
			<span>de se surpreender.</span>
		</h3>
		<p class="description">
			<span>A descoberta da Ucuuba continua.</span> <br>
			Dessa vez, a manteiga leve da Amazônia empresta seu poder<br/>
			de hidratação aos novos sabonetes líquidos da linha.
		</p>
		<br clear="all" />
	</div>
	
	<!-- Combo 1 -->
	<div class="combo-1">

		<div class="combo-produtos-holder">
			<img src="{{baseUrl}}/img/produtos01.png" class="img-combo-produtos">
		</div>

		<div class="product-box prod-1">
			<div class="product-holder">
				<img class="product-img" src="{{baseUrl}}/img/novos-sabonetes/sabonete-liquido-01.png" alt="">
			</div>

			<h3 class="title-pruduct">
				Sabonete Líquido <br/> hidratante para <br/> as Mãos
			</h3>
			<ul class="product-list">
				<li>&bull; Textura cremosa inovadora</li>
				<li>&bull; Mãos macias e altamente <br/>hidratada por até 8 horas</li>
			</ul>
			<a class="btn-compre-agora sabonete-liquido-maos" href="http://rede.natura.net/espaco/sabonete-liquido-hidratante-para-as-maos-ekos-ucuuba-250ml-pid50225?utm_medium=botCompreAqui&utm_content=novos-produtos-sabonete-liquido-maos&utm_source=siteCFEkos&utm_campaign=Ucuuba" target="_blank">
				Compre agora
			</a>
			<br>
			<a class="btn-consultor sabonete-liquido-maos" href="http://www.natura.com.br/www/chameconsultor/" target="_blank">
				Chame um<br/>consultor
			</a>
		</div>

		<div class="product-box prod-2">
			<div class="product-holder">
				<img class="product-img" src="{{baseUrl}}/img/novos-sabonetes/sabonete-liquido-02.png" alt="">
			</div>
			<h3 class="title-pruduct">
				Sabonete Líquido <br/> hidratante para <br/> o corpo
			</h3>
			<ul class="product-list">
				<li>&bull; Textura cremosa inovadora</li>
				<li>&bull; Garante pele sedosa e <br/>hidratada por até 8 horas</li>
			</ul>
			<a class="btn-compre-agora sabonete-liquido-corpo" href="http://rede.natura.net/espaco/sabonete-liquido-hidratante-para-o-corpo-ekos-ucuuba-200ml-pid50490?utm_medium=botCompreAqui&utm_content=novos-produtos-sabonete-liquido-corpo&utm_source=siteCFEkos&utm_campaign=Ucuuba" target="_blank">
				Compre agora
			</a>
			<br>

			<a class="btn-consultor sabonete-liquido-corpo" href="http://www.natura.com.br/www/chameconsultor/" target="_blank">
				Chame um<br/>consultor
			</a>
		</div>

		<div class="product-box prod-3">
			<div class="product-holder">
				<img class="product-img" src="{{baseUrl}}/img/novos-sabonetes/sabonete-liquido-03.png" alt="">
			</div>
			<h3 class="title-pruduct">
				Sabonete <br/>em Barra Puro <br/>Vegetal
			</h3>
			<ul class="product-list">
				<li>&bull; Forma uma camada protetora <br/>que mantém a hidratação natural</li>
				<li>&bull; Limpa a pele delicadamente <br/>sem ressecar</li>
			</ul>
			<a class="btn-compre-agora sabonete-barra-vegetal" href="http://rede.natura.net/espaco/sabonete-em-barra-cremoso-puro-vegetal-3und-de-100g-pid58075?utm_medium=botCompreAqui&utm_content=novos-produtos-sabonete-barra&utm_source=siteCFEkos&utm_campaign=Ucuuba" target="_blank">
				Compre agora
			</a>
			<a class="btn-consultor sabonete-barra-vegetal" href="http://www.natura.com.br/www/chameconsultor/" target="_blank">
				Chame um<br/>consultor
			</a>
		</div>

		<!-- <div class="nav-bullets-holder">
			<p class="bullets">
				<span class="bullet activated"></span>
				<span class="bullet"></span>
				<span class="bullet"></span>
			</p>
		</div> -->

	</div>

	<div class="spacer-dotted"></div>

	<!-- Combo 2 -->
	<div class="combo-2">

		<div class="combo-produtos-holder">
			<img src="{{baseUrl}}/img/produtos02.png" class="img-combo-produtos">
		</div>

		<div class="product-box prod-4">
			<div class="product-holder">
				<img class="product-img" src="{{baseUrl}}/img/novos-sabonetes/sabonete-liquido-04.png" alt="">
			</div>
				<h3 class="title-pruduct">
					Manteiga <br/>Reparadora para <br/>o Corpo e Áreas <br/>Ressecadas
				</h3>
				<ul class="product-list">
					<li>&bull; Hidratação reparadora por até 48h</li>
					<li>&bull; Textura leve e aveludada</li>
					<li>&bull; Nutre e fortalece a barreira <br/>da pele, deixando-a mais protegida</li>
				</ul>
				<a class="btn-compre-agora manteiga-reparadora" href="http://rede.natura.net/espaco/manteiga-reparadora-para-o-corpo-e-areas-ressecadas-ekos-ucuuba-200g-pid50223?utm_medium=botCompreAqui&utm_content=antigos-produtos-manteiga-reparadora&utm_source=siteCFEkos&utm_campaign=Ucuuba" target="_blank">
					Compre agora
				</a>
				<a class="btn-consultor manteiga-reparadora" href="http://www.natura.com.br/www/chameconsultor/" target="_blank">
					Chame um<br/>consultor
				</a>
		</div>

		<div class="product-box prod-5">
			<div class="product-holder">
				<img class="product-img" src="{{baseUrl}}/img/novos-sabonetes/sabonete-liquido-05.png" alt="">
			</div>
			<h3 class="title-pruduct">
				Manteiga Hidratante <br/>para Mãos e Áreas Ressecadas
			</h3>
			<ul class="product-list">
				<li>&bull; Hidratação reparadora por até 48h</li>
				<li>&bull; Textura leve e de fácil absorção</li>
				<li>&bull; Forma uma camada protetora na pele</li>
				<li>&bull; Embalagem prática, perfeita para <br/>carregar na bolsa</li>
			</ul>
			<a class="btn-compre-agora manteiga-hidratante" href="http://rede.natura.net/espaco/manteiga-hidratante-para-maos-e-areas-ressecadas-ekos-ucuuba-40g-pid50221?utm_medium=botCompreAqui&utm_content=antigos-produtos-manteiga-hidratante&utm_source=siteCFEkos&utm_campaign=Ucuuba" target="_blank">
				Compre agora
			</a>
			<br>
			<a class="btn-consultor manteiga-hidratante" href="http://www.natura.com.br/www/chameconsultor/" target="_blank">
				Chame um<br/>consultor
			</a>
		</div>

		<div class="product-box prod-6">
			<div class="product-holder">
				<img class="product-img" src="{{baseUrl}}/img/novos-sabonetes/sabonete-liquido-06.png" alt="">
			</div>
			<h3 class="title-pruduct">
				Hidratante <br/>corporal
			</h3>
			<ul class="product-list">
				<li>&bull; Hidratação reparadora por até 30h</li>
				<li>&bull; Textura leve, aveludada e fácil <br/>de espalhar</li>
				<li>&bull; Ideal para os cuidados diários</li>
				<li>&bull; Forma uma camada protetora na pele</li>
			</ul>
			<a class="btn-compre-agora hidratante-corporal" href="http://rede.natura.net/espaco/hidratante-desodorante-corporal-ekos-ucuuba-400ml-pid50220?utm_medium=botCompreAqui&utm_content=antigos-produtos-hidratente-corporal&utm_source=siteCFEkos&utm_campaign=Ucuuba" target="_blank">
				Compre agora
			</a>
			<br>
			<a class="btn-consultor hidratante-corporal" href="http://www.natura.com.br/www/chameconsultor/" target="_blank">
				Chame um<br/>consultor
			</a>
		</div>


	</div>

	<div class="spacer-dotted"></div>
	
	<div class="mb-consultor-block">
		<p class="mb-consultor-text">
			Prefere fazer seu pedido direto<br> 
			com um Consultor Natura?
		</p>
		<a class="btn-consultor" href="http://www.natura.com.br/www/chameconsultor/" target="_blank">
			Chame um consultor
		</a>
	</div>

	<div class="spacer-dotted"></div>


</section>